<app-bread-crumb [items]="[resourceBreadCrumb]"></app-bread-crumb>

<app-page-header
  [page-title]="resourceBreadCrumb.text"
  [button-text]="actionButtonConfig.text"
  [button-link]="actionButtonConfig.link"
  [button-class]="actionButtonConfig.class"
>
</app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categorias</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of resources">
      <td>
        <strong>{{c.name}}</strong><br>
        <small>{{c.description}}</small>
      </td>
      <td>
        <a [routerLink]="[c.id,'edit']" class="btn btn-outline-info btn-sm me-2">Editar</a>
        <a (click)="deleteResource(c)" class="btn btn-outline-danger btn-sm">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
