<!DOCTYPE html>
<html>
  <head>
    <title>Teste</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Teste</h1>
    <p>Welcome to Teste</p>
    <a href="/users">Users</a>
  </body>
</html>
