<app-myfirst></app-myfirst>
<app-my-second></app-my-second>
<app-my-third></app-my-third>
<mat-icon>face</mat-icon>
<app-string-interpolation></app-string-interpolation>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-data-binding></app-two-way-data-binding>
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>
<app-ng-if></app-ng-if>
<app-ng-for></app-ng-for>
<app-ng-switch></app-ng-switch>
<app-ng-template></app-ng-template>
<app-ng-container></app-ng-container>
<app-ng-content></app-ng-content>
<!-- <app-rxjs-basic></app-rxjs-basic>
<app-rxjs-cold-observables></app-rxjs-cold-observables> -->
<!-- <app-rxjs-hot-observables-intro></app-rxjs-hot-observables-intro> -->
<!-- <app-rxjs-hot-observables></app-rxjs-hot-observables> -->
<app-rxjs-subjects></app-rxjs-subjects>
